<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="/">
        <img id="logo" src="/img/code.png">
    </a>
</nav>
<style>
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-brand{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>