<%- include('partials/header.ejs') %>
<!-- chamar os partials -->
<%- include('partials/navbar.ejs') %>
<body>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Erro!</h3>
            </div>
            <div class="card-body">
                <p>Insira corretamente os dados.</p>
            </div>
        </div>
       </div>
</body>
<style>
        .container{
        max-width:1000px;
    }
</style>
<%- include('partials/footer.ejs') %>
